@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: rgb(28, 28, 28);
  background: radial-gradient(circle, rgb(28, 28, 28) 0%, rgb(21, 21, 21) 100%);
  font-family: "Josefin Sans", sans-serif;
}

.header {
  background: url("./images/bg.png") 300px 100px no-repeat;
}
@media screen and (max-width: 1024px) {
  .header {
    background: url("./images/bg.png") 0px 50px no-repeat;
  }
}

.middble-block {
  /* background: url("./images/bg-big.png") center no-repeat; */
}

.header-link {
  @apply text-white p-4 mx-[41px] font-normal text-[24px] before:block before:absolute before:bg-white before:content-[""] before:w-[0px] before:h-[2px] before:top-2 after:block after:absolute after:bg-white after:content-[""] after:w-[0px] after:h-[2px] after:bottom-2 relative inline-block before:transition-all after:transition-all hover:before:w-full hover:after:w-full hover:after:right-0 hover:before:left-0 before:left-0 after:right-0 duration-[350ms] before:duration-[350ms] after:duration-[350ms] max-xl:mx-[20px] max-xl:text-[18px];
}

.contact-link {
  @apply mt-[104px] text-[36px] text-[rgb(28,28,28)] font-normal py-4 px-[30px] bg-stone-300 rounded-lg transition-all duration-300 border border-stone-300 hover:bg-transparent hover:text-stone-300;
}

.button {
  @apply my-[104px];
}

.blue-line {
  @apply relative inline-block  before:block before:absolute before:content-[''] before:w-[40px] before:h-[2px] before:bg-[#00E0FF] before:top-[21.5px] before:left-[-51.5px];
}

.bg-radiant {
  background: radial-gradient(circle, rgb(28, 28, 28) 0%, rgb(21, 21, 21) 100%);
}

.feedback-list {
  @apply inline-block w-[534px] h-[62px] bg-[#1E1E1E] rounded-[25px] items-center text-center p-3 transition-all duration-500 hover:h-[225px];
}

.feedback-title {
  @apply text-white text-[24px] font-semibold group-hover:text-start transition-all duration-500;
}

.feedback-text {
  @apply w-[487px] text-white text-[20px] px-[20px] mt-[35px] font-light leading-7 opacity-0 invisible group-hover:visible group-hover:opacity-100 text-start transition-all duration-75 group-hover:duration-[1250ms];
}

.footer-list {
  @apply mx-4 before:block before:absolute before:bg-white before:content-[""] before:w-[0px] before:h-[2px] before:top-0 after:block after:absolute after:bg-white after:content-[""] after:w-[0px] after:h-[2px] after:bottom-0 relative inline-block before:transition-all after:transition-all hover:before:w-full hover:after:w-full hover:after:right-0 hover:before:left-0 before:left-0 after:right-0 duration-[350ms] before:duration-[350ms] after:duration-[350ms];
}

.footer-btn {
  @apply text-[20px] font-light leading-loose;
}

.line {
  @apply relative inline-block  before:block before:absolute before:content-[''] before:w-[60px] before:h-[2px] before:bg-[#00E0FF] before:top-[10px] before:left-[-30px] before:bottom-0 before:right-0;
}

.form-bg {
  background: radial-gradient(circle, rgb(28, 28, 28) 0%, rgb(21, 21, 21) 100%);
}

.form-label {
  @apply mb-2 text-white text-[16px] font-normal leading-normal;
}

.form-input {
  @apply mb-[24px] text-[#1E1E1E] h-12 p-3 bg-white border border border border border-black;
}

.form-blue-line {
  @apply relative inline-block  before:block before:absolute before:content-[''] before:w-[40px] before:h-[2px] before:bg-[#00E0FF] before:top-[0px] before:left-[-0px];
}

.form-textarea {
  @apply mb-[24px] text-[#1E1E1E] p-3;
}

.form-active {
  @apply block;
}

.form-inactive {
  @apply hidden;
}

.policy-active {
  @apply block;
}

.policy-inactive {
  @apply hidden;
}

.feedback__field {
  @apply flex flex-col;
}

.feedback-success,
.feedback-error {
  @apply text-center text-white text-[18px] font-normal leading-relaxed;
}

.form-bg-anim {
  animation: animation-bg 1s ease-in-out;
}

.bg-anim {
  animation: animation-bg 0.5s ease-in-out;
}

@keyframes animation-bg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
